.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

h2{
font-size: 2rem; 

}

.project-card {
  background: #222;
  border: 0px solid #ccc;
  border-radius: 15px; /* Rounded corners */
  margin: 1rem;
  padding: 1.5rem;
  width: 300px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
}

.project-card:hover {
  transform: translateY(-5px); /* Lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

.project-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: rgb(0, 225, 255); /* Consistent color with nav links */
}

.project-card p {
  color: #ddd;
}


.project-card a {
  color: rgb(0, 225, 255);
  text-decoration: none;
  display: inline-block;
  margin-top: 1rem;
}

.project-card h3 .icon-spacing {
  margin-right: 1rem; /* Space between icon and text */
}

.project-card a:hover {
  text-decoration: rgb(0, 200,111);
}
