body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0f0f0f;
  color: #fff;
}

.header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
  text-align:center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header nav ul {
  list-style: none;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin: 0 1rem;
}

.header nav ul li a {
  color: #0f0;
  text-decoration: none;
}

/* main {
  padding-top: 5rem;
} */

.about, .projects, .contact {
  padding: 2rem;
  text-align: center;
  color: rgb(0, 225, 255);
}

html {
  scroll-behavior: smooth;
}
